language: node_js

node_js:
  - "4"
  - "6"
  - "8"
  - "10"
  - "node"

sudo: false

notifications:
  email:
    recipients:
      - aws-xray-peryton@amazon.com
    on_success: never
    on_failure: always

script:
  - lerna bootstrap --hoist
  - lerna run test