name: Node.js SDK Continuous Build

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    name: Build Node ${{ matrix.node-version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
        node-version:
          - 14.x
          - 16.x
          - 18.x
        include:
          - os: ubuntu-latest
            node-version: 16.x
            coverage: true
    steps:
      - name: Checkout AWS XRay SDK Node Repository @ default branch latest
        uses: actions/checkout@v3

      - name: Setup Node ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          check-latest: true


      - name: Cache NPM modules
        uses: actions/cache@v3
        with:
          path: $HOME/.npm
          key: ${{ matrix.os }}-${{ hashFiles('package-lock.json') }}

      - name: Execute tests with Lerna
        if: '!matrix.coverage'
        run: |
          npx lerna@6.6.2 bootstrap --hoist
          npx lerna@6.6.2 run compile
          npx lerna@6.6.2 run test
        shell: bash
        env:
          CI: true

      # Only need to report coverage once, so only run instrumented tests on one Node version/OS
      # Use lerna to get reports from all packages
      - name: Report coverage
        if: matrix.coverage
        run: |
          npx lerna@6.6.2 bootstrap --hoist
          npx lerna@6.6.2 run testcov
          npx lerna@6.6.2 run reportcov
          echo test
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
          CI: true

  lint:
    name: Check code style
    runs-on: ubuntu-latest
    steps:
      - name: Checkout AWS XRay SDK Node Repository @ default branch latest
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16.x

      - name: Cache NPM modules
        uses: actions/cache@v3
        with:
          path: $HOME/.npm
          key: ${{ hashFiles('package-lock.json') }}

      - name: Lint repository
        run: |
          npx lerna bootstrap --hoist
          npx lerna run lint
